stackswitcher {
    margin: 0px 8px 4px 8px;
}

#info {
    margin: 5px;
}

#info #title {
    font-size: 20px;
}

#info #desc,
#info #about,
#info #authors {
    margin-left: 2px;
}

#info #about {
    margin-top: 10px;
}

#info #authors {
    margin-top: 25px;
}

#info #screenshot {
    border-style: inset;
    border-color: gray;
    border-width: 3px;
}

#info button {
    border-width: 0px;
    margin: 0px;
    background-image: none;
    box-shadow: none;
}

#info expander {
    border: 1px;
    border-style: solid;
    margin-top: 10px;
    background-color: lightgray;
}

#info expander textview {
    font-family: monospace;
    font-size: 10px;
}
